ul {
  list-style-type: none;
  overflow: hidden;
  text-align: center;
}

nav li {
  display: inline-block;
  margin-right: 5px;
  background: #282c34;
  background-color: black;
  width: 150px;
  border: 1px;
  border-radius: 30px;
  height: 90px;
}

nav li a {
  display: block;
  padding: 1.5rem;
  color: blue;
  text-decoration: none;
}
nav li:hover {
  background:blueviolet;
}
nav li:active {
  background:#61dafb;
}